<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root Page</title>
    <script>
        function downloadCVE() {
            fetch('/download-cve')
                .then(response => response.json())
                .then(data => alert('CVE download initiated!'))
                .catch(error => console.error('Error:', error));
        }

        function downloadCVELastChanges() {
            fetch('/download-cve-last-changes')
                .then(response => response.json())
                .then(data => alert('CVE Last Changes download initiated!'))
                .catch(error => console.error('Error:', error));
        }
    </script>
</head>
<body>
    <h1>Welcome to the Root Page</h1>
    <button onclick="downloadCVE()">Download CVEs from path</button>
    <button onclick="downloadCVELastChanges()">Download last changes</button>
</body>
</html>